body,
html {
  height: 100%;
  /* margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 576px) {
  /* phone */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "body body body"
      "ad ad ad"
      "footer footer footer";
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "brand brand brand"
      "nav nav tools";
    grid-area: header;
  }
  .hero {
    grid-area: hero;
    object-fit: fill;
    background-image: url(../images/50bbq.jpg);
    width: auto;
    max-height: 246px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-rows: 50px 50px;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "body body ad"
      "footer footer footer";
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      "brand nav tools"
      "brand nav tools";
    grid-area: header;
    font-size: 1rem;
  }
  .hero {
    grid-area: hero;
    background-size: cover;
    background-image: url(../images/50bbq.jpg);
    width: 100%;
    width: 100%;
    height: 100%;
  }
}

.brand {
  grid-area: brand;
  display: flex;
  /* margin: 0px;
  padding: 5px;
  flex-wrap: wrap;
  width: 100%; */
  background-image: url(../images/brand-logo.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.nav {
  grid-area: nav;
  background-color: salmon;
  display: flex;
  margin: 0px;
  padding: 5px;
  flex-wrap: wrap;
  flex: 200px;
}

.tools {
  grid-area: tools;
  background-color: rebeccapurple;
  display: flex;
  margin: 0px;
  padding: 5px;
  flex-wrap: wrap;
  flex: 200px;
}

.body {
  grid-area: body;
  background-color: rgb(136, 164, 192);
  display: flex;
}

.ad {
  grid-area: ad;
  background-color: tan;
}

.footer {
  grid-area: footer;
  background-color: wheat;
}

p {
  display: flex;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0px;
  padding: 5px;
  text-align: justify;
}
